* {
    user-select: none;
}

body {
    font-family: Arial;
    margin: 40px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

button {
    background-color: #2196f3;
    color: white;
    border: none;
    cursor: pointer;
}
